


.background{
			background:url("jpg/pexels-photo-255379.jpeg");
			color:black;
			padding:200px;
			background-repeat:no-repeat;
			background-position:bottom left;
			background-size:75%;
			background-attachment:fixed;
			
			
}
.bos